.about {

	&__title {}

	&__info {
		margin-top: 5px; //pp
		margin-bottom: 30px;
		margin-left: 2.8px; //pp
		width: 1048px;
		font-size: 45px;
		line-height: 61px;

		& span {
			letter-spacing: -0.035em;
		}

		@media (max-width: 1199px) {
			margin-left: 0px; //pp
			width: 690px;
			font-size: 35px;
			line-height: 48px;
		}

		@media (max-width: 767px) {
			width: 345px;
			font-size: 22px;
			line-height: 30px;
		}
	}

	&__link {
		display: block;
		width: 255px;
		background-color: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 20px;
		line-height: 67px;
		color: #FFFFFF;

		&:visited {
			color: #FFFFFF;
		}

		@media (max-width: 767px) {
			width: 194px;
			border-radius: 3.8px;
			font-size: 16px;
			line-height: 51px;
		}
	}
}