.about {

	&__title {}

	&__info {
		margin-top: 5px; //pp
		margin-bottom: 30px;
		margin-left: 2.8px; //pp
		max-width: 1048px;
		font-size: 45px;
		line-height: 61px;

		& span {
			letter-spacing: -0.035em;
		}

		@media (max-width: 1199px) {
			margin-left: 0px; //pp
			max-width: 690px;
			font-size: 35px;
			line-height: 48px;
		}

		@media (max-width: 767px) {
			max-width: 345px;
			font-size: 22px;
			line-height: 30px;
		}
	}

	&__link {
		width: 255px;
		font-size: 20px;
		line-height: 65px;

		&:visited {
			color: #FFFFFF;
		}

		@media (max-width: 767px) {
			width: 194px;
			font-size: 16px;
			line-height: 49px;
		}
	}
}