.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	z-index: 5;


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1150px;
		margin: 0 auto;
		padding: 33px 0;

		@media (max-width: 1199px) {
			padding: 33px 17px 33px 15px;
			align-items: flex-start;
		}

		@media (max-width: 767px) {
			align-items: center;
			padding: 31px 12px 31px 13px;
		}
	}

	&__logo {
		transform: translate(-1px, -2.8px); //pp

		@media (max-width: 1199px) {
			transform: translate(0, 0); //pp
		}

		& img {
			width: 128px;

			@media (max-width: 767px) {
				width: 96px;
			}
		}
	}

	&__menu {}

}

