.menu {

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 60.6px;
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		vertical-align: baseline;
		transition: all 300ms ease;

		&:last-child {
			padding-right: 0.5px;
		}

		&:after {
			content: '';
			background-color: #121212;
			display: block;
			opacity: 0.5;
			width: 0%;
			height: 1px;
			transform: translateY(1px);
			transition: width 300ms ease-in-out;

		}

		&:hover {
			opacity: 0.5;

			&:after {
				width: 100%;
			}
		}
	}

	@media (max-width: 1199px) {
		display: none;

	}
}