.projects {

	&__title {}

	&__card {}

	&__all {
		display: block;
		margin-bottom: 150px;
		width: 100%;
		border: 1px solid #AD1818;
		border-radius: 5px;
		font-size: 30px;
		line-height: 151px;
		text-align: center;
		color: #AD1818;
		transition: all 200ms linear;

		&:visited {
			color: #AD1818;
		}

		&:hover {
			background-color: #AD1818;
			color: #FFFFFF;
			transition: all 100ms linear;
		}

		@media (max-width: 1199px) {
			margin-bottom: 103px;
		}

		@media (max-width: 767px) {
			margin-bottom: 144px;
			border-radius: 3.8px;
			font-size: 22px;
			line-height: 98px;
		}
	}
}

.project {
	margin-bottom: 90px;

	@media (max-width: 1199px) {
		margin-bottom: 80px;
	}

	@media (max-width: 767px) {
		margin-bottom: 49px;
	}

	&:last-child {
		@media (max-width: 1199px) {
			margin-bottom: 102px;
		}

		@media (max-width: 767px) {
			margin-bottom: 60px;
		}
	}

	&__image {
		margin-bottom: 15px;
		height: 450px;

		@media (max-width: 767px) {
			margin-bottom: 20px;
			height: 250px;
		}
	}

	&__info {
		margin-bottom: 15px;
		font-size: 30px;
		line-height: 41px;

		@media (max-width: 1199px) {
			margin-bottom: 10px;
			font-size: 25px;
			line-height: 34px;
		}

		@media (max-width: 767px) {
			margin-bottom: 11px;
			font-size: 18px;
			line-height: 25px;
		}
	}

	&__link {
		font-size: 20px;
		line-height: 27px;
		color: #AD1818;

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}