.reviews {
	margin-bottom: 156px;

	@media (max-width: 1199px) {
		margin-bottom: 120px;
	}

	@media (max-width: 767px) {
		margin-bottom: 80px;
	}

	&__title {
		margin-bottom: 31px; //pp 30

		@media (max-width: 1199px) {
			padding-top: 117px;
			margin-bottom: 30px;
		}

		@media (max-width: 959px) {
			padding-top: 80px;
			margin-bottom: 22px;
		}
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		gap: 80px 54px; //pp 51

		@media (max-width: 1199px) {
			gap: 78px 10px; //pp 80
		}

		@media (max-width: 767px) {
			gap: 77px 0; //pp 80
		}
	}
}

.review {
	flex: 0 1 calc(50% - 51px);

	@media (max-width: 1199px) {
		flex: 0 1 calc(50% - 5px);
	}

	@media (max-width: 767px) {
		flex: 1 1 100%;
	}

	&:last-child:nth-child(2n+1) {
		//pp
		flex: 0 1 861px;

		@media (max-width: 1199px) {
			flex: 0 1 694px;
		}

		@media (max-width: 767px) {
			flex: 1 1 100%;
		}
	}

	&__title {
		display: block;
		margin-bottom: 14px;
		margin-left: -2px; //pp
		font-style: normal;
		font-size: 45px;
		line-height: 61px;
		letter-spacing: -0.032em; //pp

		@media (max-width: 1199px) {
			margin-bottom: 25px;
			font-size: 35px;
			line-height: 48px;
		}

		@media (max-width: 767px) {
			margin-bottom: 10px;
			font-size: 25px;
			line-height: 34px;
		}
	}

	&__description {
		font-size: 22px;
		line-height: 30px;
		letter-spacing: -0.031em; //pp

		@media (max-width: 1199px) {
			font-size: 20px;
			line-height: 27px;
		}

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 27px;
			letter-spacing: -0.03em; //pp
		}
	}
}