.services {
	padding-bottom: 150px;
	background-color: #121212;
	color: #FFFFFF;

	@media (max-width: 1199px) {
		padding-bottom: 120px;
	}

	@media (max-width: 767px) {
		padding-bottom: 80px;
	}

	&__title {
		padding-top: 151px;
		padding-left: 3px; //pp

		@media (max-width: 767px) {
			padding-top: 80px;
		}
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		//display: grid;
		//grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		gap: 85px 11px; //pp !44
		margin-bottom: 106px;

		@media (max-width: 1199px) {
			gap: 87px 10px; //pp 80
			margin-bottom: 87px; //pp 80
		}

		@media (max-width: 767px) {
			gap: 65px 10px; //pp 60
			margin-bottom: 68px; //pp 80
		}

		@media (max-width: 767px) {
			//grid-template: repeat(4, 1fr) / repeat(1, 1fr);
			gap: 65px 0; //pp 60
		}
	}

	&__btn {
		display: block;
		width: 100%;
		margin: auto 0;
		background: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 30px;
		line-height: 153px;
		color: #FFFFFF;
		letter-spacing: -0.032em; //pp

		@media (max-width: 1199px) {}

		@media (max-width: 767px) {
			border-radius: 3.8px;
			font-size: 22px;
			line-height: 100px;
		}
	}
}

.service {
	flex: 0 1 calc(50% - 5.5px);

	@media (max-width: 1000px) {
		flex: 0 1 100%;
	}

	&__image {
		position: relative;
		margin-bottom: 25px;
		height: 389px;

		@media (max-width: 1199px) {
			margin-bottom: 15px;
			height: 315px;
		}

		@media (max-width: 767px) {
			margin-bottom: 10px;
			height: 240px;
		}
	}

	&__image-l {
		margin-bottom: 17px;

		@media (max-width: 1199px) {
			margin-bottom: 15px;
		}

		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
	}

	&__price {
		position: absolute;
		top: 32px;
		left: 30px;
		padding: 0 21px;
		background: #AD1818;
		border-radius: 5px;
		font-size: 22px;
		line-height: 40px;

		@media (max-width: 1199px) {
			padding: 0 26px;
			font-size: 20px;
		}

		@media (max-width: 767px) {
			top: 24px;
			padding: 0 24px;
			border-radius: 3.8px;
			font-size: 14px;
			line-height: 30px;
		}
	}

	&__info {
		padding-left: 4px; //pp
		//max-width: 250px; //pp
		font-size: 30px;
		line-height: 41px;

		@media (max-width: 1199px) {
			padding-left: 0; //pp
			//max-width: 100%;
			font-size: 25px;
			line-height: 34px;
		}

		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 25px;
		}
	}
}