.about__info {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 2.8px;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
}
.about__info span {
  letter-spacing: -0.035em;
}
@media (max-width: 1199px) {
  .about__info {
    margin-left: 0px;
    width: 690px;
    font-size: 35px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  .about__info {
    width: 345px;
    font-size: 22px;
    line-height: 30px;
  }
}
.about__link {
  display: block;
  width: 255px;
  background-color: #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 67px;
  color: #FFFFFF;
}
.about__link:visited {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .about__link {
    width: 194px;
    border-radius: 3.8px;
    font-size: 16px;
    line-height: 51px;
  }
}