.about__info {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 2.8px;
  max-width: 1048px;
  font-size: 45px;
  line-height: 61px;
}
.about__info span {
  letter-spacing: -0.035em;
}
@media (max-width: 1199px) {
  .about__info {
    margin-left: 5px;
    max-width: 690px;
    font-size: 35px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  .about__info {
    margin-left: 0px;
    max-width: 345px;
    font-size: 22px;
    line-height: 30px;
  }
}
.about__link {
  width: 255px;
  font-size: 20px;
  line-height: 65px;
}
.about__link:visited {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .about__link {
    width: 194px;
    font-size: 16px;
    line-height: 49px;
  }
}