.contacts {
  margin-bottom: 140px;
}
@media (max-width: 1199px) {
  .contacts {
    margin-bottom: 78px;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-bottom: 80px;
  }
}
.contacts__title {
  margin-bottom: 74px;
  padding-top: 0;
}
@media (max-width: 767px) {
  .contacts__title {
    margin-bottom: 58px;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 58px 105.5px;
}
@media (max-width: 1199px) {
  .contact {
    gap: 58px 115.5px;
  }
}
.contact__number {
  position: relative;
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 1199px) {
  .contact__number {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .contact__number {
    font-size: 35px;
    line-height: 46px;
  }
}
.contact__number span {
  padding-left: 10px;
  letter-spacing: -0.025em;
}
@media (max-width: 767px) {
  .contact__number span {
    padding-left: 5px;
  }
}
.contact__number::before {
  content: "";
  position: absolute;
  display: block;
  left: -6px;
  bottom: 96px;
  width: 24px;
  height: 24px;
  background: url("../resourses/img/icon/phone.svg") center center/auto 22px no-repeat;
}
@media (max-width: 1199px) {
  .contact__number::before {
    bottom: 88px;
  }
}
@media (max-width: 767px) {
  .contact__number::before {
    bottom: 66px;
    left: -4px;
    width: 18px;
    height: 18px;
    background-size: auto 16.5px;
  }
}
.contact__mail {
  position: relative;
  transform: translateY(-10px);
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 1199px) {
  .contact__mail {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .contact__mail {
    transform: translateY(0);
    font-size: 35px;
    line-height: 46px;
  }
}
.contact__mail a {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 2px solid #121212;
  color: inherit;
  opacity: 0.5;
}
@media (max-width: 1199px) {
  .contact__mail a {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .contact__mail a {
    border-bottom: none;
    opacity: 1;
  }
}
.contact__mail::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 85px;
  width: 24px;
  height: 24px;
  background: url("../resourses/img/icon/mail.svg") center center/auto 16px no-repeat;
}
@media (max-width: 1199px) {
  .contact__mail::before {
    bottom: 77px;
  }
}
@media (max-width: 767px) {
  .contact__mail::before {
    bottom: 66px;
    left: -1px;
    width: 18px;
    height: 18px;
    background-size: auto 12px;
  }
}