.gallery {
  position: relative;
  margin-bottom: 150px;
  width: 100%;
  height: 717px;
}
@media (max-width: 1199px) {
  .gallery {
    margin-bottom: 120px;
    height: 536px;
  }
}
@media (max-width: 767px) {
  .gallery {
    margin-bottom: 80px;
    height: 408px;
  }
}
.gallery__title-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 3;
}
@media (max-width: 1199px) {
  .gallery__title-wrapper {
    top: 80px;
    left: 35px;
    width: calc(100% - 50px + 15px);
  }
}
@media (max-width: 767px) {
  .gallery__title-wrapper {
    top: 61px;
    left: 0;
    width: 100%;
  }
}
.gallery__title {
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .gallery__title {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .gallery__title {
    font-size: 14px;
    line-height: 19px;
  }
}
.gallery__controls-wrapper {
  position: absolute;
  bottom: 162px;
  left: 0;
  width: 100%;
  z-index: 2;
}
@media (max-width: 1199px) {
  .gallery__controls-wrapper {
    bottom: 152px;
    left: 35px;
    width: calc(100% - 50px + 15px);
  }
}
@media (max-width: 767px) {
  .gallery__controls-wrapper {
    bottom: calc(50% - 15px);
    left: 0;
    width: 100%;
  }
}
.gallery__controls {
  display: flex;
}
@media (max-width: 767px) {
  .gallery__controls {
    justify-content: space-between;
  }
}
.gallery__control-prev, .gallery__control-next {
  width: 40px;
  height: 40px;
  border: none;
  background: url("../resourses/img/icon/arrow.svg") left center/auto no-repeat;
}
@media (max-width: 767px) {
  .gallery__control-prev, .gallery__control-next {
    width: 30px;
    height: 30px;
    background-size: auto 25px;
  }
}
.gallery__control-prev:hover, .gallery__control-next:hover {
  opacity: 0.5;
}
.gallery__control-next {
  transform: rotate(180deg);
}
.gallery__slides {
  height: 100%;
  width: 100%;
}
.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.gallery__slide-active {
  opacity: 1;
}

.slide__image {
  height: 100%;
}
.slide__title-wrapper {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
}
@media (max-width: 1199px) {
  .slide__title-wrapper {
    bottom: 80px;
    left: 35px;
    width: calc(100% - 50px + 15px);
  }
}
@media (max-width: 767px) {
  .slide__title-wrapper {
    bottom: 60px;
    left: 0;
    width: 100%;
  }
}
.slide__title {
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
}
.slide__title span {
  padding-left: 5px;
}
@media (max-width: 1199px) {
  .slide__title {
    width: 377px;
    font-size: 25px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .slide__title {
    width: 287px;
    font-size: 19px;
    line-height: 26px;
  }
}