.intro__title {
  margin-bottom: 30px;
  padding-top: 128px;
  max-width: 956px;
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 1199px) {
  .intro__title {
    max-width: 802px;
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .intro__title {
    margin-bottom: 25px;
    padding-top: 108px;
    max-width: 336px;
    font-size: 30px;
    line-height: 32px;
  }
}
.intro__image {
  position: relative;
  height: 500px;
}
@media (max-width: 1199px) {
  .intro__image {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .intro__image {
    height: 304px;
  }
}
.intro__info {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .intro__info {
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .intro__info {
    bottom: 15px;
    left: 15px;
    max-width: 312px;
    font-size: 16px;
    line-height: 22px;
  }
}