@import url(https://fonts.googleapis.com/css?family=Manrope:regular,700);
body {
  width: 100%;
  color: #121212;
  background-color: #FFFFFF;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1150px;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container {
    padding: 0 17px 0 15px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 12px 0 13px;
  }
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a,
li,
h1,
h2,
h3,
img,
div,
span,
p {
  letter-spacing: -0.03em;
}

.title {
  margin-bottom: 30px;
  padding-top: 150px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .title {
    padding-top: 120px;
  }
}
@media (max-width: 767px) {
  .title {
    margin-bottom: 20px;
    padding-top: 80px;
    font-size: 14px;
    line-height: 19px;
  }
}

.btn {
  display: block;
  width: 100%;
  margin: auto 0;
  background: #AD1818;
  border: 1px solid #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  line-height: 151px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .btn {
    border-radius: 3.8px;
    font-size: 22px;
    line-height: 98px;
  }
}