.projects {
  margin-bottom: 150px;
}
@media (max-width: 1199px) {
  .projects {
    margin-bottom: 103px;
  }
}
@media (max-width: 767px) {
  .projects {
    margin-bottom: 80px;
  }
}
.projects__link {
  background: #FFFFFF;
  color: #AD1818;
  transition: all 200ms linear;
}
.projects__link:visited {
  color: #AD1818;
}
.projects__link:hover {
  background-color: #AD1818;
  color: #FFFFFF;
  transition: all 100ms linear;
}

.project {
  margin-bottom: 90px;
}
@media (max-width: 1199px) {
  .project {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .project {
    margin-bottom: 49px;
  }
}
@media (max-width: 1199px) {
  .project:last-child {
    margin-bottom: 102px;
  }
}
@media (max-width: 767px) {
  .project:last-child {
    margin-bottom: 59px;
  }
}
.project__image {
  margin-bottom: 15px;
  height: 450px;
}
@media (max-width: 767px) {
  .project__image {
    margin-bottom: 20px;
    height: 250px;
  }
}
.project__info {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 41px;
}
@media (max-width: 1199px) {
  .project__info {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .project__info {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 25px;
  }
}
.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #AD1818;
}
@media (max-width: 767px) {
  .project__link {
    font-size: 16px;
    line-height: 22px;
  }
}