.reviews {
  margin-bottom: 156px;
}
@media (max-width: 1199px) {
  .reviews {
    margin-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .reviews {
    margin-bottom: 80px;
  }
}
.reviews__title {
  margin-bottom: 31px;
}
@media (max-width: 1199px) {
  .reviews__title {
    padding-top: 117px;
    margin-bottom: 30px;
  }
}
@media (max-width: 959px) {
  .reviews__title {
    padding-top: 80px;
    margin-bottom: 22px;
  }
}
.reviews__card {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 54px;
}
@media (max-width: 1199px) {
  .reviews__card {
    gap: 78px 10px;
  }
}
@media (max-width: 767px) {
  .reviews__card {
    gap: 77px 0;
  }
}

.review {
  flex: 0 1 calc(50% - 51px);
}
@media (max-width: 1199px) {
  .review {
    flex: 0 1 calc(50% - 5px);
  }
}
@media (max-width: 767px) {
  .review {
    flex: 1 1 100%;
  }
}
.review:last-child:nth-child(2n+1) {
  flex: 0 1 861px;
}
@media (max-width: 1199px) {
  .review:last-child:nth-child(2n+1) {
    flex: 0 1 694px;
  }
}
@media (max-width: 767px) {
  .review:last-child:nth-child(2n+1) {
    flex: 1 1 100%;
  }
}
.review__title {
  display: block;
  margin-bottom: 14px;
  margin-left: -2px;
  font-style: normal;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.032em;
}
@media (max-width: 1199px) {
  .review__title {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  .review__title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }
}
.review__description {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.031em;
}
@media (max-width: 1199px) {
  .review__description {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .review__description {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.03em;
  }
}