.services {
  padding-bottom: 150px;
  background-color: #121212;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .services {
    padding-bottom: calcSize(120, 150, 960, 1200);
  }
}
@media (max-width: 959px) {
  .services {
    padding-bottom: calcSize(80, 120, 375, 960);
  }
}
.services__title {
  padding-top: 151px;
  padding-left: 3px;
}
@media (max-width: 959px) {
  .services__title {
    padding-top: calcSize(80, 151, 375, 960);
  }
}
.services__card {
  display: flex;
  flex-wrap: wrap;
  gap: 85px 11px;
  margin-bottom: 106px;
}
@media (max-width: 1199px) {
  .services__card {
    gap: calcSize(87, 85, 960, 1200) calcSize(10, 11, 960, 1200);
    margin-bottom: calcSize(87, 57, 960, 1200);
  }
}
@media (max-width: 959px) {
  .services__card {
    gap: calcSize(65, 87, 375, 960) 10px;
    margin-bottom: calcSize(68, 87, 375, 960);
  }
}
@media (max-width: 767px) {
  .services__card {
    gap: calcSize(65, 80, 375, 960) 0;
  }
}
.services__btn {
  display: block;
  width: 100%;
  margin: auto 0;
  background: #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  line-height: 153px;
  color: #FFFFFF;
  letter-spacing: -0.032em;
}
@media (max-width: 959px) {
  .services__btn {
    border-radius: calcSize(3.8, 5, 375, 960);
    font-size: calcSize(22, 30, 375, 960);
    line-height: calcSize(100, 153, 375, 960);
  }
}

.service {
  flex: 0 1 calc(50% - 5.5px);
}
@media (max-width: 1000px) {
  .service {
    flex: 0 1 100%;
  }
}
.service__image {
  position: relative;
  margin-bottom: 25px;
  height: 389px;
}
@media (max-width: 1199px) {
  .service__image {
    margin-bottom: calcSize(15, 25, 960, 1200);
    height: calcSize(315, 389, 960, 1200);
  }
}
@media (max-width: 959px) {
  .service__image {
    margin-bottom: calcSize(10, 15, 375, 960);
    height: calcSize(240, 315, 375, 960);
  }
}
.service__image-l {
  margin-bottom: 17px;
}
@media (max-width: 1199px) {
  .service__image-l {
    margin-bottom: calcSize(15, 17, 960, 1200);
  }
}
@media (max-width: 959px) {
  .service__image-l {
    margin-bottom: calcSize(10, 15, 375, 960);
  }
}
.service__price {
  position: absolute;
  top: 32px;
  left: 30px;
  padding: 0 21px;
  background: #AD1818;
  border-radius: 5px;
  font-size: 22px;
  line-height: 40px;
}
@media (max-width: 1199px) {
  .service__price {
    padding: 0 calcSize(26, 21, 960, 1200);
    font-size: calcSize(20, 22, 960, 1200);
  }
}
@media (max-width: 959px) {
  .service__price {
    top: calcSize(24, 32, 375, 960);
    padding: 0 calcSize(24, 26, 375, 960);
    border-radius: calcSize(3.8, 5, 375, 960);
    font-size: calcSize(14, 20, 375, 960);
    line-height: calcSize(30, 40, 375, 960);
  }
}
.service__info {
  padding-left: 4px;
  font-size: 30px;
  line-height: 41px;
}
@media (max-width: 1199px) {
  .service__info {
    padding-left: 0;
    font-size: calcSize(25, 30, 960, 1200);
    line-height: calcSize(34, 41, 960, 1200);
  }
}
@media (max-width: 959px) {
  .service__info {
    font-size: calcSize(18, 25, 375, 960);
    line-height: calcSize(25, 34, 375, 960);
  }
}